<h2 class="font-semibold text-2xl text-slate-500 mb-3">Shopping List</h2>
<ul>
  <div
    *ngIf="editModal"
    app-shopping-list-edit
    class="mb-3"
    (onCancelEdit)="cancelEdit()"
    (onSaveEdit)="saveEdit($event)"
    [inputProp]="currentBahan"
  ></div>
  <li
    *ngFor="let bahan; let i = index; of: belanjaan"
    [bahan]="bahan"
    app-shopping-list
    class="border-b border-b-slate-200"
  >
    <!-- Control Button -->
    <button
      class="px-3 py-1 bg-yellow-100 text-yellow-500 font-medium text-sm rounded self-center hover:bg-yellow-200 hover:text-yellow-600"
      (click)="toggleEditModal({bahan, i})"
    >
      Edit
    </button>
  </li>
</ul>
