<div class="flex justify-between mb-4">
  <div class="space-y-1 select-none">
    <!-- Recipe Name Title -->
    <h3
      class="text-4xl font-extrabold tracking-tight bg-clip-text text-transparent bg-gradient-to-r from-violet-500 to-pink-500"
    >
      {{ selectedRecipe.name }}
    </h3>
    <!-- Description -->
    <p class="text-slate-400">{{ selectedRecipe.description }}</p>
  </div>
  <!-- Manage Button -->
  <div class="relative">
    <button
      app-dropdown
      class="text-xs font-medium bg-slate-100 hover:bg-slate-200 hover:text-slate-600 self-center px-3 py-1 rounded"
    >
      Manage
    </button>
    <ul
      class="hidden absolute overflow-hidden w-max right-0 top-9 text-sm shadow rounded space-y-5 text-slate-500"
    >
      <li
        class="px-8 py-4 cursor-pointer hover:text-violet-700 hover:bg-violet-200"
      >
        Menu 1
      </li>
      <li
        class="px-8 py-4 cursor-pointer hover:text-violet-700 hover:bg-violet-200"
      >
        Menu 2
      </li>
      <li
        class="px-8 py-4 cursor-pointer hover:text-violet-700 hover:bg-violet-200"
      >
        Menu 3
      </li>
    </ul>
  </div>
</div>
<!-- Ingridients -->
<h4 class="text-slate-500 font-medium text-lg mb-2">Ingridients</h4>
<ul class="list-disc list-inside text-violet-500 space-y-1">
  <li><span class="text-slate-700">Bahan 1</span></li>
  <li><span class="text-slate-700">Bahan 2</span></li>
  <li><span class="text-slate-700">Bahan 3</span></li>
  <li><span class="text-slate-700">Bahan 4</span></li>
</ul>
